@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+AU+VIC+Guides&family=Playwrite+CO+Guides&family=Playwrite+TZ+Guides&display=swap');



*{
    margin: 0; /*Reset default spaces*/
}

body{
    font-family: "Electrolize", serif;
}

.container {
    background-color: black;
    color: white;
}
/* Navbar */
.navbar {
    background-color: #000000;
    height: 60px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}


.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}
.logo {
    color: rgb(255, 70, 70);
    font-size: 30px;
}

.menu-list {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
}

.menu-item {
    cursor: pointer;
    transition: all 0.4s;
}

.menu-item.ana {
    font-weight: bold;
}

.menu-item:hover {
    font-weight: bold;
}
.profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile-picture {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-text-container{
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1;
}
.toggle {
    width: 40px;
    height: 20px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.toggle-icon {
    color: rgb(180, 132, 9);
    padding-top: 3px;
}
.toggle-ball{
    width: 18px;
    height: 18px;
    right: 1px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: 0.5s ease all;
}

/* Sidebar */
.sidebar {
    background-color: black;
    color:white;
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px ;
    row-gap: 40px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.sidebar i{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
/* Content */
.content-wrapper{
    margin-left: 50px;
}

/* Featured Content */

.featured-content {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./img_film/spiderman.jpg");
    padding: 50px;
    height: calc(100vh - 160px);
    background-size: 100% 100%;
    object-fit: cover;
}

.featured-title{
    width: 400px;
}

.featured-desc {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin: 30px 0;
    color: black;
    text-align: justify;
}

.featured-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.featured-buttons button {
    padding: 10px 25px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    column-gap: 10px;
    font-size: 16px;
    font-weight: bold;
}

.featured-buttons .info-button {
    background-color: rgb(145, 142, 142,0.5);
    color: white;
}
/* Movie List Filter */
.movie-list-filter{
    margin: 20px 0 20px 50px;
    padding: 20px;
}
.movie-list-filter select {
    background-color: black;
    color: white;
    padding: 8px 0;
    width: 125px;

}

/* Movie-List */
.movie-list-container {
    margin-left: 70px;
}

.movie-list {
    list-style: none;
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    transform: translateX(0);
    transition: 1s all ease-in-out;

}

.movie-list-wrapped{
    overflow: hidden;
    position: relative;
}



.movie-item{
    position: relative;
}

.movie-item:hover .movie-item-title,.movie-item:hover .movie-item-buttons {
    opacity: 1;
}

.movie-item:hover .movie-item-img {
    transform: scale(1.2);
    margin: 0 20px;
    opacity: 0.5;
}

.movie-item-img{
    width: 270px;
    padding: 0;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.movie-item-title {
    background-color: rgb(40, 40, 40,0.4);
    padding: 0 10px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie-item-buttons {
    background-color: rgb(40, 40, 40,0.4);
    padding: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    left: 50px;  
    display: flex;
    column-gap: 20px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie-item-buttons i{
    cursor: pointer;
    opacity: 0.5;
    font-size: 20px;
    transition: all 0.5s ease;
}

.movie-item-buttons i:hover{
    opacity: 1;
}

.arrow {
    width: 100px;
    display: flex;
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 100px;
    opacity: 0.5;
    transition: all 0.5s ease;
    cursor: pointer;
}

.arrow:hover{
    opacity: 1;
}

/* Dark Mode */
.container.active {
    background-color: white;
}

.navbar.active {
    background-color: white;
    color: black;
}
.sidebar.active {
    background-color: white;
}
.sidebar i.active {
    color: black;
}

.movie-list-title.active {
    color: black;
}
.toggle.active {
    background-color: black;
}
.toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
}

.movie-list-filter select.active {
    background-color: white;
    color: black;
}

/* Responsive */

@media only screen and (max-width: 800px){
    .menu-container {
        display: none;
    }
    .featured-title{
        width: 200px;
    }
    .featured-content{
        height: 50vh;
    }
    .featured-desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        max-width: 200px;
        padding: 0;

    }
}
